/* Estilos generales */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

/* Contenedor principal de Home */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background: radial-gradient(black, deepskyblue);*/
    min-height: 100vh;
    border-radius: 10px;
    border: 1px solid white;
    margin: 0.5rem;
    position: relative;
    z-index: 1;
}

/*imagen*/
.imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../public/office.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    z-index: -1;
}

/*iconos*/
.iconos-link {
    position: absolute;
    top: 0;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 50px));
    gap: 40px;
}
.iconos-link #ic1{
    padding: 2px;
    border-radius: 23px;
    background-color: rgb(226, 217, 217);/* Fondo blanco con 70% de opacidad */
    display: inline-block;/* Para que el fondo solo ocupe el ancho del texto */
    cursor: pointer;
    transition: color 0.3s ease;
}
.iconos-link #ic1:hover{
    background-color: rgb(247, 247, 247);/* Fondo blanco con 70% de opacidad */
    padding: 4px;
    grid-template-columns: repeat(2, minmax(80px, 80px));
}


/* Contenido de Home */
.home-content {
    text-align: center;
    color: white;
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}

/* Estilos para el menú */
.menu-container {
    position: fixed;
    height: 98vh;
    background: radial-gradient(gray, black);
    width: 240px;
    border-radius: 10px;
    border: 1px solid white;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.menu-content {
    text-align: center;
}

.menu-label {
    color: white;
    margin: 0.5rem 0;
    font-size: 0.9rem;
}

/* Estilos para el layout */
.layout-container {
    display: flex;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
    margin-left: 250px;
    /* Ajusta este valor según el ancho del menú */
}

/* Animación de glow para h1 */
h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 7rem;
    margin: 0;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite alternate;
    color: rgb(255, 255, 255);
}

@keyframes glow {
    from {
        text-shadow: 0 0 20px #060606;
    }

    to {
        text-shadow: 0 0 30px #5b6262, 0 0 10px #bac5c6;
    }
}

h2 {
    font-size: 2rem;
    margin: 0;
    background-color: rgba(14, 13, 13, 0.775); /*Fondo blanco con 70% de opacidad */
    padding: 10px;/* Añade un poco de padding para que el fondo se vea mejor */
    display: inline-block;/* Para que el fondo solo ocupe el ancho del texto */
    border-radius: 5px 5px 5px 5px;
    font-weight: bold;
}

/* Estilos para la sección "About Me" */
#about-me-section {
    position: relative;
    z-index: 1;
    margin: 0.5rem;
}

/* Contenedor principal de AboutMe */
.about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background: radial-gradient(black, deepskyblue);*/
    min-height: 100vh;
    border-radius: 10px;
    border: 1px solid white;
    padding: 1rem;
    color: white;
    z-index: 1;
}

/* Títulos de sección */
.section-title {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
}

/* Bloques de información (estudios y cursos) */
.info-block {
    background-color: rgba(43, 42, 42, 0.859);
    border-radius: 10px;
    border: 1px solid white;
    padding: 1rem;
    height: 100%;
}

/* Estilos para títulos y subtítulos */
.title.is-6 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.subtitle.is-6 {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 0.25rem;
}

.subtitle.is-7 {
    font-size: 0.875rem;
    font-weight: lighter;
    color: #ccc;
}

/* Estilos para columnas (Bulma CSS) */
.columns.is-desktop {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* Espacio entre columnas */
}

.column {
    flex: 1;
    min-width: 250px;
    /* Ancho mínimo para responsividad */
}

/* Estilos para márgenes y padding */
.ml-3 {
    margin-left: 1rem;
}

.mr-3 {
    margin-right: 1rem;
}

.mt-1 {
    margin-top: 0.5rem;
}

.mr-2 {
    margin-right: 0.75rem;
}

/* Estilos para el fondo del contenedor de Home */
.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Para que esté detrás del contenido */
}


/* Contenedor principal de Skills */
.about-me-container-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    /*background: radial-gradient(black, deepskyblue);*/
    min-height: 100vh;
    border-radius: 10px;
    border: 1px solid white;
    padding: 1rem;
    color: white;
    z-index: 1;
}


/*iconos-skills*/
.iconos-skills {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(5, minmax(80px, 80px));
    gap: 50px;
}
.iconos-skills #ic1{
    padding: 5px;
    width: 100px;
    height: 80px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);/* Fondo blanco con 70% de opacidad */
    display: inline-block;/* Para que el fondo solo ocupe el ancho del texto */
    transition: color 0.3s ease;

}
.iconos-skills #ic1:hover{
    background-color: rgba(223, 214, 214, 0.757);/* Fondo blanco con 70% de opacidad */
    padding: 2px;
}